.btn {
  position: relative;
  z-index: 30;

  width: 40px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn span {
  display: block;
  width: 28px;
  height: 1px;

  border-radius: 5px;
  background-color: var(--clr-w-1);
}

.btnOpen {
  padding-left: 14px;
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  width: 50%;
  height: 100svh;

  background-color: var(--clr-bk-1t);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;
}