.container {
	display: inline-block;
	margin: 1rem 0 1.5rem 0;
}

.photo {
	width: clamp(10rem, 19vw, 13rem);
	height: clamp(10rem, 19vw, 13rem);
	object-fit: cover;
	border-radius: 50%;
	border: 1.5px solid var(--clr-w-1t);
}