.title {
	font-size: clamp(4rem, 8vw, 6rem);
	font-weight: 800;
}

.description {
	font-weight: 800;
	font-size: clamp(1.875rem, 3.8vw, 2.5rem);
	margin-bottom: 2rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.text {
	font-size: clamp(1rem, 2.1vw, 1.3rem);
}

.link {
	text-decoration: none;
	color: var(--clr-w-1);
}

.icon {
	font-size: clamp(1.875rem, 3vw, 2.5rem);
}