.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 0 1.875rem;

  height: 100svh;
  width: 100%;
  max-width: 53.75rem;
}

@media (height <=600px) and (any-pointer: fine) and (orientation: landscape) {
  .main {
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}