.navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 3.5rem;
  width: 100%;
  padding: 0 1.875rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .nav {
    max-width: 50rem;
  }
}

@media (height <=600px) and (any-pointer: fine) and (orientation: landscape) {
  .navbar {
    position: relative;
  }
}