.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;

  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: clamp(0.7rem, 1.64vw, 0.875rem);
  color: var(--clr-w-1);
  text-align: center;
}

/* //////////////////////////////////////////////////////////////////////////////// */

/* MEDIA QUERIES */
@media (height <=600px) and (orientation: landscape) {
  .footer {
    position: relative;
  }
}

/* //////////////////////////////////////////////////////////////////////////////// */