.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.title {
  font-size: clamp(1.875rem, 8vw, 2.5rem);
  font-weight: 800;
}

.marginBtm {
  margin-bottom: 0.5rem;
}

.color {
  font-weight: 800;
  background-image: var(--gradient-1);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p1,
.p2 {
  font-weight: 200;
}

.p1 {
  font-size: 1.375rem;
}

.p2 {
  font-size: 1rem;
  font-style: italic;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .title {
    font-size: clamp(2.5rem, 5.2vw, 3.75rem);
  }

  .p1 {
    font-size: clamp(1.375rem, 2.87vw, 2.063rem);
  }

  .p2 {
    font-size: clamp(1rem, 2.09vw, 1.5rem);
  }
}

/* ////////////////////////////////////////////////////////////////////////////////// */