.container {
  margin-bottom: 3rem;
}

.title1,
.title2 {
  font-size: 26px;
  font-weight: 600;
}

.title2 {
  margin-bottom: 0.5rem;
}

.color {
  font-size: 26px;
  font-weight: 800;
  background-image: -webkit-linear-gradient(45deg, #FFD700, #FF8C00, #fe5d5c, #d1528b, #895999, #485683);
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: changeColor 10s infinite;
}

.p1,
.p2 {
  font-weight: 200;
}

.p1 {
  font-size: 22px;
}

.p2 {
  font-size: 16px;
  font-style: italic;
}

@keyframes changeColor {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}